/*
    Shrink the page! Do it!
*/
@media only screen and (max-width: 64.063em) {
  /*
        Default Styles
    */

  body {
    background-size: cover;
  }

  /*
        Page
    */
  #profile {
    padding: 6% 0;
    flex-direction: column;
    height: 100%;
  }

  /*
        About
    */
  #aboutcontent {
    width: 80%;
    text-align: left;
  }

  #aboutcontent h1 {
    font-size: 3.5em;
  }

  #aboutcontent p {
    font-size: 2.2em;
  }

  #social-icons li {
    margin: 0 10%;
  }

  #social-icons i {
      font-size: 2.5em;
  }

  /*
    Header
*/
  #header {
    height: auto !important;
    background: url("../img/bg1.jpg");
    background-position: top right;
    background-attachment: fixed;
    background-size: 160%;
    width: 100%;
    padding: 0;
  }

  #headercontent {
    width: 40%;
    padding: 3%;
    margin: 0 auto;
  }

  #header ul {
    margin: 0 auto;
  }

  /*

        Portfolio Content
    */

  .entry {
    text-align: center;
  }

  .entry h1 {
    font-size:2.5em;
  }

  .entry p {
    font-size:1.5em;
  }

  .btn {
    position: initial;
    margin: 5% 0;
  }

  .description {
    width: 100%;
  }

  /*
	Go to the site on your phone! Do it!
*/
  @media only screen and (max-width: 40em) {

    /*
        About Page
    */

    #aboutcontent {
      width: 75%;
      text-align: left;
    }

    #aboutcontent h1 {
      font-size: 5vh;
    }

    #aboutcontent p {
      font-size: 2.8vh;
      font-weight: 400;
    }

    #aboutcontent li {
      font-size: 1.4vh;
      margin: 0 15%;
    }

    /*
        Header
    */

    #header {
      height: auto;
      width: inherit;
      background-color: rgb(19, 19, 19);
      padding: 0;
    }

    #headercontent {
      width: inherit;
      margin: 0;
      background-color: rgb(19, 19, 19);
    }

    #header li {
      margin: 0 5px;
    }

    /*
        Portfolio Content
    */

    .entry {
      text-align: center;
    }

    .entry h1 {
      font-size: 2.2em;
    }

    .entry p {
      font-size: 1.2em;
      margin: 10% 0;
    }

    .btn {
      position: initial;
    }

    .description {
      width: 100%;
      margin: 0;
    }
  }
}
