/*
	Default Styles
*/

body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    background:url("../img/bg1.jpg");
    background-position: top right;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
}


h1 {
	font-size:3rem;
    font-weight: 300;
}

/*
    Profile
*/

#page {
    width:100%;
    margin:0;
}

#profile {
    height:100vh;
    display:flex;
    align-items: center;
}

/*
	About
*/
#aboutcontent {
    width: 40%;
    margin-left:auto;
    padding: 0 10%;
}

#aboutcontent h1 {
    font-size:4.5em;
    color:rgb(19, 19, 19);
}

#aboutcontent p {
    font-size: 2em;
    font-weight:400;
    color:rgb(19, 19, 19);
} 

#aboutcontent li {
    display: inline-block;
    margin: 0 3%;
}

#aboutcontent a {
    text-decoration: none;
}

#social-icons {
    text-align: center;
    padding: 0;
    margin: 10% 0;
}

#social-icons i {
    font-size:2.5vh;
    color:rgb(19, 19, 19);
}

.accent {
    color: #177569;
    font-weight:500;
 }

/*
	Shhhhh! ;)
*/
iframe:not([seamless]) { 
    border:none;
}

#eggcontent {
    width: 90%;
    margin: 4% auto 0 auto;
    display: block;
    text-align: center;
    padding:1%;
}

/*




    PORTFOLIO PAGE




*/


/*

    Header

*/

#header {
    height:auto;
    width:100%;
    margin:0;
}

#headercontent {
    width: 35%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#header nav {
    position: relative;
}

#header h1 {
    font-size: 80px;
    color:#9a9e9f;
    font-weight: 300;
}

#header li {
    display: inline-block;
    margin: 0 3%;
}

/*

    Portfolio Content

*/

#portfolio {
    height:auto;
    background-attachment: fixed;
    margin:0;
    overflow: hidden;
    background-color:rgb(19, 19, 19);

}

#portfoliocontent {
    width:100%;
    margin:7% auto;
    text-align: justify;
}

.entry {
    width:70%;
    margin: 0 auto 15% auto;
    text-align:left;
}

.entry img {
    width:100%;
    height:auto;
    margin: 0 auto;
}

.entry h1 {
    font-size:40px;
    font-weight: 300;
    text-align: left;
    color:#9a9e9f;
}

.entry p {
    font-size: 18px;
    text-align: left;
    color:#9a9e9f;
}

.entry a {
    text-decoration: none;
}

.btn {
  font-size: 20px;
  background: #72a632;
  padding: 10px 20px;
  text-decoration: none;
  position: absolute;
  margin: 1% 0;
  color: #242424;
}

.description {
	width: 60%;
}

/*



    BLOG PAGE




*/

#blog {
    height:auto;
    margin:0;
    background-color:rgb(19, 19, 19);

}

#blogcontent {
    width:100%;
    margin:7% auto;
    text-align: justify;
}