<!DOCTYPE html>
<html>
	<head><title>Full Screen Photo</title>
	<meta charset = "UTF-8" />
	<link href = "css/main.css" rel = "stylesheet">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/ResponsiveSlides.js"></script>
	<script src="js/SFX.js"></script>
	
	</head>
	
	<body>
		<ul class="rslides">
			<li><img src="img/1.jpg" alt=""></li>
			<li><img src="img/3.jpg" alt=""></li>
			<li><img src="img/4.jpg" alt=""></li>
			<li><img src="img/6.jpg" alt=""></li>			
		</ul>
		
		<div id = "panel">
			<div id = "one">
				<img src = "img/logo.png">
				<p>This is my last layout. It's not the most difficult one, actually. I'm a bit worn out from all of this designing. It's not even the technical stuff, just the content.</p>
				<ul>
					<li><a href = "http://facebook.com"><i class = "icon-facebook"></i>    </a><li>
					<li><a href = "http://twitter.com"><i class = "icon-twitter"></i></a></li>
				</ul>
			</div>
			<div id = "two">
				<img src = "img/tea.gif"/>
				<h1>Me</h1>
				<p>This is not an about me. I don't feel like writing one. Instead, I'll use some hipster ipsum. Mustache blue bottle cardigan VHS, direct trade synth freegan lo-fi single-origin coffee scenester art party.</p>
			</div>
			<div id = "three">
				<img src = "img/uke.jpg"/>
				<h1>Navigation</h1>
				<ul>
					<li><p>Home // </p></li>
					<li><p>Portfolio // </p></li>
					<li><p>About</p></li>
				</ul>			
			<div>
		</div>
	</body>
</html>			
