<!DOCTYPE html>
<html>
	<head><title>Three Boxes</title>
	<meta charset = "UTF-8" />
	<link href = "css/main.css" rel = "stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/ResponsiveSlides.js"></script>
	<script src="js/SFX.js"></script>
	</head>
	
	<body>
		<div id = "header">
			<p id = "name">Nayomi Mitchell</p>
			<ul>
				<li><a href = "index.html">About</a></li>
				<li><a href = "index.html">Portfolio</a></li>
				<li><a href = "index.html">Resume</a></li>	
			</ul>
			<hr noshade>
		</div>
		
		<ul class="rslides">
			<li><img src="img/1.gif" alt=""></li>
			<li><img src="img/2.gif" alt=""></li>
		</ul>
		
		<div id = "wrapper">
			<img id = "first" src = "img/3.gif" alt="">
			<img src = "img/4.gif" alt="">
		</div>
		
		<div id = "footer">
			<hr noshade><p>&copy; Nayomi Mitchell. All Rights Reserved.</p>
		</div>
	</body>
</html>			
