<!DOCTYPE html>
<html>
	<head><title>Fixed Sidebar</title>
	<meta charset = "UTF-8" />
	<link href = "css/main.css" rel = "stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<script src="js/jquery-2.0.2.js"></script>
	<script src="js/SFX.js"></script>
	</head>
	
	<body>
		<div id = "sidebar">						
			<img src = "img/logo.png">
			<ul>
				<li><a href = "index.html">About</a></li>
				<li><a href = "index.html">Portfolio</a></li>
				<li><a href = "index.html">Resume</a></li>
				<li><a href = "index.html">Other</a></li>
			</ul>
		</div>
		
	<div id = "wrapper">	
		<div id = "rest">
			<h1>I like games.</h1>
			<img src = "img/metroid.jpg">
			<div id = "wrapper2">
				<div class = "box"><h2><i class = "icon-gamepad"></i> Games</h2><p>I love mostly any kind of video game. Though, my favorite genre is indie games. The one that I'm playing right now is called 'Thomas is Alone'.</p></div>
				<div class = "box"><h2><i class = "icon-music"></i> Music</h2><p>One of my favorite components about games is the soundtrack. I love music, so hearing perfectly orchestrated compositions in a game is the best thing. The best thing. Okami has a really nice soundtrack.</p></div>
				<div class = "box"><h2><i class = "icon-desktop"></i> PC Gaming</h2><p>I don't really own a lot of console systems (Okay, I own none). I prefer to play games on my gaming PC. It's/He's named Robocomp, because I had to rebuild him a bunch of times.</p></div>
			</div>
					<h3><a href = "http://twitter.com"><i class = "icon-twitter"></i> Follow me on twitter. Or Facebook. I don't know.</a></h3>
		<p>&copy; Nayomi Mitchell. All Rights Reserved.</p>
		</div>
	</div>
	
	</body>
</html>
				
