<!DOCTYPE html>
<html>
	<head><title>Headline & Gallery</title>
	<meta charset = "UTF-8" />
		<link href = "css/960.css" rel = "stylesheet">
	<link href = "css/main.css" rel = "stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,300' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/SFX.js"></script>
	</head>
	
	<body>
		<div id = "header">
			<p id = "name">Layouts Gallery</p>
			<ul>
				<li><a href = "index.html">About</a></li>
				<li><a href = "index.html">Resume</a></li>	
			</ul>
		</div>

		<img id = "logo" src="img/logo.png" alt="">

		
		<div class = "container_12">
			<div class = "grid_4"><a href = "../Part 1/index.html"><img src = "img/1.jpg"></a></div>
								<div class = "grid_4"><a href = "../Part 2/index.html"><img src = "img/2.jpg"></a></div>
				<div class = "grid_4"><a href = "../Part 3/index.html"><img src = "img/3.jpg"></a></div>	
		</div>
		
				<div class = "container_12">
			<div class = "grid_4"><a href = "../Part 4/index.html"><img src = "img/4.jpg"></a></div>
								<div class = "grid_4"><a href = "../Part 5/index.html"><img src = "img/5.jpg"></a></div>
				<div class = "grid_4"><a href = "../Part 6/index.html"><img src = "img/6.jpg"></a></div>	
		</div>
		
				<div class = "container_12">
			<div class = "grid_4"><a href = "../Part 8/index.html"><img src = "img/7.jpg"></a></div>
								<div class = "grid_4"><a href = "../Part 9/index.html"><img src = "img/8.jpg"></a></div>
				<div class = "grid_4"><a href = "../Part 10/index.html"><img src = "img/9.jpg"></a></div>	
		</div>
		
		
		
		<div id = "footer">
			<p>&copy; Nayomi Mitchell. All Rights Reserved.</p>
		</div>
	</body>
</html>			
