body {
	margin:0px;
	background-size:100%;
	overflow:hidden;
	text-align:center;
}

#header {
	text-align:center;
}

#header h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	color: white;
	margin: 0;
	padding: 0;
	font-weight:400;
	text-shadow: 1px 1px 1px #000;
}

#header h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.4rem;
	color: white;
	font-weight:400;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #000;
}

#quote {
	margin: 7% auto;
	height: auto;
	width: 82%;
	text-align: center;
}

#quote p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5.5em;
	color: white;
	margin: 0;
	padding: 0;
	text-shadow: 2px 1px 3px #000;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 1% 0 0% -1%;
	text-align: right;
	width:100%;
}

footer a {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
	font-size: 17px;
	color:white;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}

footer p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
	font-size: 17px;
	color:white;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}

@media only screen and (max-width: 64.063em) {
	body {
		margin:0px;
		background-size:146vh;
		overflow:scroll;
		height:100%;
		text-align:center;
	}


	#quote p {
		font-size: 3.5em;
	}

