html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: url("../img/black.png");
	background-repeat: repeat;
	overflow-x:hidden;
}

p{
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:14px;
	color:#FFF;
}

#header {
	margin: 50px 150px 20px 150px;
}

#header p{
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:50px;
	float:left;
	color:#FFF;
}

#header ul{
	list-style-type: none;
	float:right;
	margin-top:10px;
	display:inline;
	margin-right:-12px;
}

#header li{
	display: inline;
}

#header li a{
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:20px;
	text-decoration:none;
	color:white;
	margin-left:20px;
}

#header li a:hover{
	text-decoration:none;
	color:purple;
}
  
#wrapper {
	padding-left:150px;
	padding-right:150px;
	width:100%;
}

#logo {
	width:900px;
	margin-top:30px;
	margin-left:245px;
	display:none;
	margin-bottom:50px;
}

.container_12 img {
	width:310px;
	border:1px solid black;
}

.container_12 {
	margin-bottom: 60px;
}
#footer {
	margin: 20px 150px 50px 150px;
}

#footer p {
	font-family: 'Titillium Web', sans-serif;
	font-size:12px;
	float:left;
	text-align:center;
	color:#FFF;
}
