<!DOCTYPE html>
<html>
	<head><title>3D Screenshots</title>
	<meta charset = "UTF-8" />
	<link href = "css/main.css" rel = "stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/jquery.roundabout.js"></script>
	<script src="js/SFX.js"></script>
	</head>
	
	<body>
		<div id = "header">
			<p>Nayomi Mitchell</p>
			<ul>
				<li><a href = "index.html">About</a></li>
				<li><a href = "index.html">Portfolio</a></li>
				<li><a href = "index.html">Resume</a></li>
				<li><a href = "index.html">Other</a></li>
			</ul>
		</div>
		
		<div id = "rest">
			<h1>Hey.</h1>
			<h2>Making these layouts is really good practice. I'm just going to put some images of nature here. Cool? Cool.</h2>			
					
			<ul class = "roundabout-holder">
				<li><img src = "img/1.jpg" alt="mountains"></li>
				<li><img src = "img/2.jpg" alt="rocks"></li>
				<li><img src = "img/3.jpg" alt="more rocks"></li>
			</ul>
		</div>
		
		<div id = "footer">
			<p>&copy; Nayomi Mitchell. All Rights Reserved.</p>
		</div>

	</body>
</html>
				
