<!DOCTYPE html>
<html>
	<head><title>CS 2803 Project 1</title>
	<meta charset = "UTF-8" />
	<link href = "css/main.css" rel = "stylesheet">
	</head>
	
	<body>
		<div id = "header">
			<p>Ten Solid Layouts</p>
		</div>
		
		<div id = "list">
			<ul>
				<li><a href = "Part 1/index.html">Three Boxes</a></li>
				<li><a href = "Part 2/index.html">3D Screenshots</a></li>
				<li><a href = "Part 3/index.html">Advanced Grid</a></li>
				<li><a href = "Part 4/index.html">Featured Graphic</a></li>
				<li><a href = "Part 5/index.html">Five Boxes</a></li>
				<li><a href = "Part 6/index.html">Fixed Sidebar</a></li>
				<li><a href = "Part 7/index.html">Headline & Gallery</a></li>
				<li><a href = "Part 8/index.html">Featured Photo</a></li>
				<li><a href = "Part 9/index.html">Power Grid</a></li>
				<li><a href = "Part 10/index.html">Full Screen Photo</a></li>
			</ul>
		</div>
	</body>
</html>
		
