<!DOCTYPE html>
<html>
	<head><title>Power Grid</title>
	<meta charset = "UTF-8" />
		<link href = "css/960.css" rel = "stylesheet">
	<link href = "css/main.css" rel = "stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/SFX.js"></script>
	</head>
	
	<body>
		<div id = "header">
			<h1>Archduke</h1><p>My ukulele</br>and friend</p>
			<ul>
				<li><a href = "index.html">About</a></li>
				<li><a href = "index.html">Tour</a></li>	
			</ul>
		</div>
		
		<div id = "nav">
			<ul>
				<li><a href = "index.html">News</a></li>
				<li><a href = "index.html">Music</a></li>	
				<li><a href = "index.html">Store</a></li>
				<li><a href = "index.html">Contact</a></li>
			</ul>
		</div>
		
		<div class = "container_12">
			<div class = "grid_7 suffix_1" id = "pic"><img src="img/uke.jpg">
			</div>
			<div class = "grid_4" id = "pic2"><img src="img/uke2.jpg">
			</div>
		</div>
		
		<div id = "rest">
			<div class = "container_12">
				<div class = "grid_6">
					<h2>Recent News</h2>
					<div class = "quickwrap" id = "one">
						<div class = "box">
							<p>Local Ukulele becomes new Justin Bieber.</p>
							<h3>"Why do you all even like this guy?"</h3>
						</div>
						<div class = "box">
							<p>Archduke injured in string incident.</p>
							<h3>"Don't worry, guys. I have extras!"</h3>
						</div>
					</div>
					
					<div class = "quickwrap">
						<div class = "box">
							<p>Archduke the Uke talks about his troubled past.</p>
							<h3>"Don't put yourself up for sale on Amazon."</h3>
						</div>
						<div class = "box">
							<p>New Bolivia Tour announced.</p>
							<h3>"Where is that again?"</h3>
						</div>
					</div>
					
					<div class = "quickwrap">
						<div class = "box2">
							<p>Related Artists</p>
							<img src = "img/uke4.jpg">
						</div>
						<div class = "box2">
							<p>Related Artists</p>
							<img src = "img/uke5.jpg">
						</div>
					</div>
				</div>
				<div class = "grid_6" id = "second">
					<img src = "img/uke3.jpg">
				</div>
			</div>
			<p id = "footer">&copy; Nayomi Mitchell. All Rights Reserved.</p>
		</div>	

	</body>
</html>			
